*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.intro{
    background-color: gold ;
    height: 100px;

}
.text3{
    color: green;
    font-size: 60px;
    
    padding-left: 7px;

}


.background_pic{
    background-image: url(images/happy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.text1{
    text-align: center;
    border: 2px solid maroon;
    border-radius: 4px;
}
.container{
    max-width: 900px;
    margin: 50px 5px;
}
.box{
    background-color: peachpuff;
    border: 2px solid peachpuff;
    border-radius: 7px;
    box-shadow: 3px 4px 5px rgba(1, 1, 1, 0.2);
    padding: 20px;
    margin-top: 50px;
    max-width: 500px;
    margin: 0 auto;
    height: 500px;
}
.form_conatiner{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}
.form_control{
    display: flex;
    flex-direction: column;}

.button1_container button,.button2_container button{
    background-color: maroon;
    border: 5px solid azure;
    border: 4px;
    box-shadow: 3px 4px 5px rgba(1, 1, 1, 0.2);
    padding: 5px;
    text-align: center;
    width: 150px;
    color: azure;
}
.button3_container button{
    background-color: maroon;
    color: azure;
    text-align: center;
    box-shadow: 3px 4px 5px rgba(1, 1, 1, 0.1);
    width: 375px;
    padding: 5px;
    border-radius: 4px;
    transition: 0.2s ease-in-out;


}
.button3_container button:hover{
    transform: scale(1.04s);
    box-shadow: 3px 4px 5px rgba(1, 1, 1, 0.3);
    transition: 0.2s ease-in-out;

}

.text2{
    color: grey;
   
}